* {
  font-family: 'Roboto Mono', sans-serif;
}

.wrap {
  margin: auto;
  width: 600px;
}

.comment {
  font-weight: bold;
  color: blue;
}

.input_body {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 650px;
}

.repos-box {
  width: 650px;
  text-align: center;
}

.repos {
  margin-top: 50px;
}