altgraph==0.16.1
autopep8==1.5.3
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
click==7.1.2
Flask==1.1.2
future==0.18.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.2
macholib==1.14
MarkupSafe==1.1.1
pefile==2019.4.18
pycodestyle==2.6.0
PyInstaller==3.6
pymongo==3.10.1
PyQt5==5.13.2
PyQt5-sip==12.7.0
pywin32-ctypes==0.2.0
requests==2.22.0
selenium==3.141.0
soupsieve==1.9.4
toml==0.10.1
urllib3==1.25.6
Werkzeug==1.0.1
